.color-primary {
    color: #E7DFDD;
}

.color-secondary {
    color: #0E0B16;
}
.color-error {
    color: #A239CA;
}

.bcg-primary {
    background: #E7DFDD;
}

.bcg-secondary {
    background: #0E0B16;
}